{
        {% if DOCKER_TLS %}
	"hosts": ["tcp://0.0.0.0:2376", "unix:///var/run/docker.sock"],
	"tls": true,
	"tlscacert": "/etc/docker/certs/ca.pem",
	"tlscert": "/etc/docker/certs/server-cert.pem",
	"tlskey": "/etc/docker/certs/server-key.pem",
	"tlsverify": true,
	{% else %}
	"hosts": ["tcp://0.0.0.0:2375", "unix:///var/run/docker.sock"],
	"tls": false,
	{% endif %}
	"experimental": true,
	{% if ENV == "production" %}
	"debug": false
	{% else %}
	"debug": true
	{% endif %}
}