---
# http://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

- name: add docker repo
  template: src=virt7-docker.repo.j2 dest=/etc/yum.repos.d/virt7-docker-common-release.repo mode=0600

- name: install
  yum: name={{ item }} update_cache=yes enablerepo=virt7-docker-common-release state=present
  with_item: 
    - kubernetes
    - etcd

- name: add hosts
  lineinfile: path=/etc/hosts line={{ item }}
  with_items:
    - "{{ }}  centos-master"
    - "{{ }}  centos-minion"

- name: edit config
  lineinfile: path=/etc/kubernetes/config line={{ item }}
  with_items:
    - 

- name: disable service
  command: systemctl disable iptables-services firewalled

- name: disable service
  command: systemctl stop iptables-services firewalld



